node_modules


TEXTOS/
Padroes/
vendor/
Evolucao/
dados_textos/
dados_evolucao/
node_modules/
Laudos/
dados_impot_medzin/
b_laudos/
a_laudos/
dados_laudos/
Laudos_/
Exames/
dados_exames/
a_evolucao/
*.zip
Pacientes2.json
